Django==5.2.8
pillow==11.3.0
django-widget-tweaks==1.5.1

# Database (choose one)
mysqlclient==2.2.7
# psycopg2-binary==2.9.11

# Optional API
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

# Deployment
gunicorn==25.1.0
whitenoise==6.12.0

# Payment
razorpay==2.0.1

# Env
python-dotenv==1.2.1