{% extends 'deshbord/base_B.html' %}
{% block content %}
<div class="card-body p-0">
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Profile image</th>
                    <!-- <th>username</th> -->
                    <th>email</th>
                    <th>Phone no.</th>
                    
                </tr>
            </thead>
            <tbody id="roomTable">
                {% for user in renter  %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="{{ user.image.url }}" class="room-img-sm me-3" alt="room">
                            <div><span class="fw-bold">{{ user.username }}</span><br><small class="text-muted">ID: 75483</small></div>
                        </div>
                    </td>
                    
                    <td><span class="badge bg-success">{{ user.email }}</span></td>
                    
                    <td><span class="badge bg-success">{{ user.phone }}</span></td>                    

                </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>

{% endblock %}
